.fot-image{
    display: grid; 
    grid-template-columns: repeat(3, 1fr); /* Three columns */ 
    grid-template-rows: repeat(2); /* Two rows */ 
    gap: 10px;
}
.image-grid img { 
    width: 100%; 
    height: auto; 
    border: 1px solid #ccc; 
}
.content { 
    max-width: 800px; 
    margin: auto; 
} 
.float-left { 
    float: left; 
    margin: 0 20px 20px 0; 
    max-width: 50%; /* Adjust as needed */ 
}
.foot-con { 
    display:flex;
    align-items: center;
    background-color:  rgba(15, 15, 15, 0.906);
    
} 
.item2 {
    width:300px;
    margin-left: 0;
    margin-right:20px;
    align-items: center;
    padding-left: 20px;
    padding-right:50px;
    color: white;
    padding-top: 50px;
}
.item2 a{
    color: darkolivegreen;;
}
.item3{
    margin-right: 20%;
    color: white; 
}
.item{
    margin-left: 20%;
    color: white;
}
.main-1{
    display:flex;
    align-items: center;
    width: 100%;
    
}

.main-2{
    display:flex;
    align-items: center;
    width: 100%;

}
.main-2 h2{
    color:#2cae12d1 ;
}
.div1{
    margin-left:16%;
    align-items: center;
    justify-content: center;
    padding:50px
}
.div2{
    margin-right:45%;
    padding-bottom: 100px;
    margin-top: 25px;
    
   
}
.sec1{
    margin-left: 20%;
    margin-right: 20px;

}
.sec1 h2{
    color:#2cae12d1 ;
}
.sec2{
    margin-right: 20px;
     margin-top: 30px; 
}
.sec2 h2{
    color:#2cae12d1;
}
.sec3{
    width: 100%;
    margin-right:15%;
    margin-top:50px;

}
.sec3 h2{
    color:#2cae12d1 ;
}
 .head{
    background-color: rgba(15, 15, 15, 0.906);
    width: 100%;
} 
.head1{
    margin-left: 20%;
    padding-top: 25px;
}
.red-text{
    color: coral;
}
.white-text{
    color: white;
}

.head1 p,h1{
    margin:0;
    padding: 0;
}
.nav{
    list-style: none; 
    display: flex;  
    margin:0;
    padding:0;
}
.nav li{
    background-color: #2cae12d1;  
    padding: 10px; 
    margin-bottom: 10px;  
    border-radius: 5px;
}

.nav li a {
    text-decoration: none;
    color: whitesmoke;
    
    
}  
.add{
    display:flex;
    align-items: center;
    background-color:  black
}

.add1{
    margin-left:20%;
    margin-right: 25%;
    color:white;
}
.add1 a{
    color:darkolivegreen;
}
.add2 li a{
    text-decoration: none;
    color:white;
}
.add2 li a:hover{
    color: rgb(255, 157, 0); 
}
.nav li a:hover { 
    color: rgb(255, 157, 0); 
}
.nav1{
    margin-right: 20px;
    
} 
.nav4{
    list-style: none;
    text-decoration: none; 
    display: flex;  
    margin:0;
    padding:0;
}
.new{
    margin-bottom: 35px;
}  
#slogan{
    margin-left: 15%;
    color: white;
    margin-bottom:0;
}
.side{
    margin-bottom: 20px;
}
.sponsor li{
    list-style-type: none;
}
.bold{
    color:rgba(50, 48, 48, 0.838) ;
}
.menu li{
    list-style-type: none;
    
}
.menu li a{
    text-decoration: none;
    color: black;  
}
.menu1{
    margin-bottom: 15px;
}
.main-con{
    display:flex;
    align-items: center;
}
.main-con1{
    margin-left: 20%;
}
.mission{
    margin-right: 20px;
    margin-top:50px;
    width:600px;
}
.about{
    width:600px;
}
.main{
    width: 100%;
}
.main-con h2{
    color: #2cae12d1
}
.contact{
    margin-bottom: 20px;
}
.contact-section input, .contact-section textarea{
    width: 600px; 
    padding: 10px; 
    border: 1px solid #c7bfbf; 
    border-radius: 4px; 
    font-size: 16px; 
    box-sizing: border-box;
}
